* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: grid;
    width: 30%;
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2fr;
    row-gap: 2%;
    border: 5px solid black;
    padding: 1%;
    border-radius: 2vw;
}

.calculator * {
    border: 1px solid black;
}

.display {
    border-radius: 1vw;
    background: radial-gradient(circle, #f0f0f0, #d1d1d1);
}

.func-buttons {
    display: grid;
    border-radius: 1vw;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(2, 30%);
    row-gap: 7%;
    justify-content: space-around;
    align-content: center;
}

.buttons {
    display: grid;
    border-radius: 2vw;
    grid-template-columns: repeat(5, 17.5%);
    grid-template-rows: repeat(4, 12.5%);
    justify-content: space-around;
    align-content: space-evenly;
}

.button {
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button > sup {
    align-self: normal;
    border: 0;
}

.func-button {
    border-radius: 0.5vw;
}

.func-button > sup {
    align-self: normal;
    border: 0;
}
